<html>

  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="/css/style.css"></link>
  </head>
  <body>
    <div class="users"></div>
    <div class="chat">
      <input type="text" class="chat-name" placeholder="Ime" value="<%= username %>"/>
      <div class="chat-messages"></div>
      <textarea class="chat-textarea" placeholder="Unesi poruku"></textarea>
      <div class="chat-status">Status: <span>Idle</span></div>
    </div>

    <script src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
  </body>

</html>
